<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no" />
    <title>{$vo.community_location}</title>
    <meta name="keywords" content="牡丹路399弄，好房待租，地铁沿线，看房方便租房,浦东租房" />
    <meta name="description" content="上海链家网为您提供牡丹路399弄，好房待租，地铁沿线，看房方便租房,牡丹路399弄，好房待租，地铁沿线，看房方便租房信息,浦东租房就上上海链家网。" />
    <link rel="stylesheet" href="http://sh.lianjia.com/public/css/common.css?v=1500478000000">
    <link rel="stylesheet" href="http://sh.lianjia.com/public/css/header.css?v=1500478000000">
    <link rel="stylesheet" href="http://sh.lianjia.com/public/css/weiliao.css?v=1500478000000">

    <link rel="stylesheet" href="http://sh.lianjia.com/public/css/common.css?v=1500310000000">
    <link rel="stylesheet" href="http://cdn7.dooioo.com/static/dist/ershoufang/detail.min.css?v=1500310000000"/>



    <link rel="stylesheet" href="http://cdn7.dooioo.com/static/css/ershoufang/detail.css?v=1500478000000"/>



    <link rel="stylesheet" href="http://cdn7.dooioo.com/static/css/zufang/detail_top.css?v=1500478000000"/>

    <link href="/uhouse/Public/css/lvgang.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://sh.lianjia.com/public/js/html5.js"></script>
    <![endif]-->
    <script>
        var headerParameters = {
            env : 'production',
            publichost : 'http://sh.lianjia.com',
            photohost : 'http://cdn1.dooioo.com',
            statichost : 'http://cdn7.dooioo.com',
            managehost : 'http://support.dooioo.com',
            webhost : 'http://sh.lianjia.com',
            xinfanghost : 'http://sh.fang.lianjia.com',
            uchost : 'http://user.sh.lianjia.com',
            agenthost : 'http://agent.sh.lianjia.com',
            apihost : 'http://soa.dooioo.com',
            openhost : 'http://open.dooioo.com',
            chathost : 'http://chat.dooioo.com',
            loginhost:'http://i.session.lianjia.com',
            cityId : '310000',
            cityCode : 'sh',
            cityName : '上海',
            lianjiaSource:'',
            lianjiaSignature:'',
            newHouseModuleSwitch:'true',
            hasFixBar : true, //是否有右侧边栏
            hasSaveSearch : true //是否支持登录后把缓存在本地local中的“已保存搜索”数据存入服务端功能
        }
    </script>

    <script src="http://sh.lianjia.com/public/js/jquery/jquery.min.js"></script>
    <script src="http://sh.lianjia.com/public/js/jquery/jQuery.XDomainRequest.js"></script>
    <script src="http://sh.lianjia.com/public/js/jquery/jquery.qrcode.min.js"></script>
    <script src="http://sh.lianjia.com/public/js/jquery/jquery-upload-1.0.js?v=1500478000000"></script>
    <script src="http://sh.lianjia.com/public/js/jquery/jquery-jtemplates.js"></script>
    <script src="http://sh.lianjia.com/public/js/jquery/jquery.cookie.js"></script>
    <script src="http://cdn7.dooioo.com/static/js/common.js?v=1500478000000"></script>
    <script src="http://sh.lianjia.com/public/js/saveSearchInit.js?v=1500478000000"></script>
</head>

<body onload="load()">
<!--[if lte IE 8]>
<div class="old-browser-popup" id="old" >
    亲，您当前正在使用旧版本的IE浏览器，为了保证您的浏览体验，UHouse建议您使用：<label class="chrome-borwser-ico"></label><a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank">谷歌浏览器</a>&nbsp;或&nbsp;&nbsp;<label class="firefox-borwser-ico"></label><a href="http://rj.baidu.com/soft/detail/11843.html?ald" target="_blank">火狐浏览器</a>
    <span id="oldclose"></span>
</div>
<![endif]-->

<!--begin: header-->
<script src="http://sh.lianjia.com/public/js/header.js?v=1500478000000"></script>
<!--end: header-->
<!--begin: searchs Top -->
<div class="lj_searchs ">
    <div class="wrapper clear">
        <div class="label fl" id="forlg"><p id="lvgangdep">UHouse</p></div>
        <div class="search-txt fr">
        </div>
    </div>
</div>




<!--begin:模板－已保存搜索弹层 － 追加的条目（预加载的隐藏项）-->



<!-- 视频入口浮层 -->

<script  type="text/javascript">
    /*var oWrap_video_all = document.getElementById('wrap-video-all');
     oWrap_video_all.onclick = function(){
     var oVideo_box = document.getElementById('video-box');
     var oVideo_close = document.getElementById('video-close');
     oVideo_box.style.display = "block";
     oVideo_close.onclick = function(){
     oVideo_box.style.display = "none";
     }
     }*/
</script>
<!--begin: searchs Top -->




<!--begin: 面包屑-->
<div class="intro clear">
    <div class="container">
        <div class="fl l-txt">
            <i class="icon"></i>&nbsp;
            <span>当前房源</span>
        </div>
        <div class="fr r-txt"></div>
    </div>
</div>
<!--end: 面包屑-->

<!--begin:正文-->
<!--begin: 房源概况-->
<div class="zf-top">
    <div class="title-wrapper">
        <div class="content">
            <div class="title">
                <h1 class="main" title="牡丹路399弄，好房待租，地铁沿线，看房方便">{$vo.detail}</h1>
            </div>
        </div>
    </div>
    <div class="cj-cun">
        <!--begin: 房源相册-->
        <div class="album-box" id="album-box1">
            <div class="album-box left" id="album-box">
                <div class="pic-panel pic-panel-hover" style="overflow:hidden;" id="lvgangdiv">

                    <a href="javascript:;">

                        <!--需要我解决的大图展现！-->
                        <img  src="{$vo.image1}" id="view_big_img" onerror="this.src='/uhouse/Public/images/error.jpg'; this.onerror=null;">

                    </a>
                    <div class="label" id="labellv">
                        <div class="fr"><span id="currentIndex">1</span> / {$vo.imagenum}</div>
                    </div>



                </div>
                <!-- 小图区域 -->
                <div class="album-panel">

                    <div class="album-view-wrap" id="album-view-wrap">
                        <ul>

                            <li id="lvli1">
                                <img id="lvimage1" img-title="图1" src="{$vo.image1}" onerror="this.src='/uhouse/Public/images/error.jpg'; this.onerror=null;">
                            </li>

                            <li id="lvli2">
                                <img  id="lvimage2" img-title="图2" src="{$vo.image2}" >
                            </li>

                            <li id="lvli3">
                                <img  id="lvimage3" img-title="图3" src="{$vo.image3}" >
                            </li>

                            <li id="lvli4">
                                <img id="lvimage4"  img-title="图4" src="{$vo.image4}" >
                            </li>

                            <li id="lvli5">
                                <img id="lvimage5"  img-title="图5" src="{$vo.image5}" >
                            </li>

                            <li id="lvli6">
                                <img id="lvimage6"  img-title="图6" src="{$vo.image6}" >
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!--end: 房源相册-->

        <!--begin: 房源概况-->
        <div class="content forRent">
            <div class="houseInfo">
                <div class="price">
                    <div class="mainInfo bold" style="font-size:28px;">{$vo.price}<span class="unit">元/月</span></div>
                </div>
                <div class="room">
                    <div class="mainInfo"><span class="unit" id="unitlv">{$vo.type}</span></div>
                </div>
                <div class="area">
                    <div class="mainInfo">{$vo.area}<span class="unit">平</span></div>
                </div>
            </div>
            <table class="aroundInfo">
                <tr>
                    <td class="title" nowrap>楼层：</td>
                    <td width="50%">{$vo.house_location}</td>
                    <td class="title" nowrap>朝向：</td>
                    <td width="50%">
                        暂无数据
                    </td>
                </tr>
                <tr>
                    <td class="title" nowrap>小区：</td>
                    <td  width="50%">
                            {$vo.community_name}
                    </td>
                    <td class="title">地址：</td>
                    <td  width="50%">
                            {$vo.community_location}
                    </td>
                </tr>
                <tr>

                    <td class="title" id="realname">房东：</td>
                    <td >
                            {$lvvo.realname}

                    </td>

                    <td class="title" id="phone">电话：</td>
                    <td >

                            {$lvvo.phone}

                    </td>

                </tr>
            </table>

        </div>
        <!--end: 房源概况-->
        <div class="clear"></div>
    </div>
</div>
<!--end: 房源概况-->




<!-- 基本信息 -->
<div class="m-baseinfo content-wrapper js-ershoudetail-module" id="js-baseinfo-header">
    <div class="content-main module-tb">
        <h2 class="module-header" id="basic">基本信息</h2>
        <div class="module-row">
            <div class="module-col baseinfo-col1">
                <ul class="baseinfo-tb">
                    <li>
                        <span class="item-cell item-label" id="basicsection">基本属性</span>
                    </li>
                </ul>
            </div>
            <div class="module-col baseinfo-col2">
                <ul class="baseinfo-tb">
                    <li>
                        <span class="item-cell item-label">房屋户型</span>
                        <span class="item-cell">{$vo.type}</span>
                    </li>
                    <li>
                        <span class="item-cell item-label">配备电梯</span>
                        <span class="item-cell">暂无数据</span>
                    </li>
                    <li>
                        <span class="item-cell item-label">建筑面积</span>
                        <span class="item-cell">{$vo.area}</span>
                    </li>
                    <li>
                        <span class="item-cell item-label">供暖方式</span>
                        <span class="item-cell">暂无数据</span>
                    </li>
                </ul>
            </div>
            <div class="module-col baseinfo-col3">
                <ul class="baseinfo-tb">
                    <li>
                        <span class="item-cell item-label">所在楼层</span>
                        <span class="item-cell">{$vo.house_location}</span>
                    </li>
                    <li>
                        <span class="item-cell item-label">装修情况</span>
                        <span class="item-cell">精装</span>
                    </li>
                    <li>
                        <span class="item-cell item-label">房屋朝向</span>
                        <span class="item-cell">
                                        南北
                                    </span>
                    </li>
                    <li>
                        <span class="item-cell item-label">车位情况</span>
                        <span class="item-cell baseinfo-parking-spot">
                                        无
                                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>












<!--begin: 登录弹层-->
<div class="loninContainer" id="loninContainer"></div>
<!--end: 登录弹层-->

    <script src="/uhouse/Public/js/admin/detaillv.js"></script>

    <script src="/uhouse/Public/css/vendors/jquery/dist/jquery.min.js"></script>







</body>
</html>
	    